
:root{
  --toggleThemeButtonBackgroundColor:#1b1d22;
  --toggleThemeButtonColor: white;
  --headerColor:white;
  --headerLinkColor:white;
  --headerBackGroundColor:#1b1d22;
  --color:white;
  --backGroundColor:#1b1d22;
}

.App {
  display: flex;
  font-size: calc(10px + 2vmin);
  width: 100%;
  background-color: var(--backGroundColor);
  color: var(--color);
  font-family: 'Courier New', Courier, monospace;
}

.App-header {
  width: 100%;
  background-color:var(--headerBackGroundColor);
  color: var(--headerColor);
  font-family: 'Courier New', Courier, monospace;
}

.logo{
  text-align: center;
  display:inline-block;
  margin-left:10%;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: bolder;
}

.Header-link {
  margin-left: 30%;
  text-align: start;
  color: var(--headerLinkColor);
}


.toggleThemeButton{
  background-color: var(--toggleThemeButtonBackgroundColor);
  color: var(--toggleThemeButtonColor);
}